<p style="color: green"><%= notice %></p>

<h1>Publicaciones</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
      <% if post.user == current_user %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Destroy", post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>









